{% extends "base.html" %}
{% block content %}

<h2>Личный кабинет</h2>

<div class="user-card">
  <div class="user-card-left">
    <img src="{{ user.avatar_url or '../resources/img/base_avatar.svg' }}" alt="Фото профиля">
  </div>
  <div class="user-card-right">
    <h2>{{ user.username }}</h2>
    <p><strong>Логин:</strong> {{ user.nickname }}</p>
    <p><strong>User ID:</strong> {{ user.id }}</p>
    <p><strong>E-mail:</strong> {{ user.email }}</p>
    <p><strong>Дата рождения:</strong> {{ user.birth_date or "—" }}</p>
    <p><strong>Номер телефона:</strong> {{ user.phone or "—" }}</p>
    <p><strong>О себе:</strong> {{ user.bio or "—" }}</p> 
  </div>
</div> 
<!-- Подьем кнопки "Выход" выше -->
<div style="margin-top: 20px; text-align: center;">
  <a href="/logout" class="logout-btn">Выйти</a>
</div>
<!--
<h3>Изменить данные</h3>
<form method="post" action="/user/{{ user.id }}/update">
    <label for="username">Никнейм:</label>
    <input type="text" id="username" name="username" value="{{ user.username }}">
    ...
    <button type="submit">Сохранить изменения</button>
</form>
-->

{% endblock %}