{% extends "base.html" %}
{% block content %}

<h2>Личный кабинет</h2>

<div class="user-card">
 <div class="user-card-left">
  <div class="avatar-wrapper">
    <img src="{{ target.avatar_url or request.url_for('static', path='../resources/img/base_avatar.svg') }}" alt="Фото профиля">
    {% if editable %}
      <a href="/user/{{ user.id }}/edit" class="edit-profile-btn">Редактировать профиль</a>
    {% endif %}
  </div>
</div>

  <div class="user-card-right">
    <h2>{{ target.nickname }}</h2>
    <!-- <p><strong>Логин:</strong> {{ target.nickname }}</p> -->
    <p><strong>User ID:</strong> {{ target.id }}</p>
    <p><strong>E-mail:</strong> {{ target.email or "—" }}</p>
    <p><strong>Дата рождения:</strong> {{ target.birthday or "—" }}</p>
    <p><strong>Номер телефона:</strong> {{ target.phone or "—" }}</p>
    <p><strong>О себе:</strong> {{ target.bio or "—" }}</p>
  </div>
</div>

<!-- Подъем кнопки "Выход" выше -->
<div style="margin-top: 20px; text-align: center;">
  <a href="/logout" class="logout-btn" style="display:inline-block;padding:8px 12px;background:#e74c3c;color:#fff;border-radius:6px;text-decoration:none;">Выйти</a>
</div>

{% endblock %}
